
@if (ViewBag.IsSuccess)
{
    <div class="alert alert-success">
        <p>عملیات ارسال ایمیل با موفقیت انجام شد </p>
    </div>
}
else
{
    <div class="alert alert-danger">
        <p>عملیات ارسال ایمیل با مشکل روبرو شد </p>
    </div>
}